body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ----------- NavBar ----------- */

.container {
  margin: 0 15vw;
}

/* ---------- Footer ---------- */

footer {
  height: 100px;
  width: 100vw;
  text-align: center;
  background-color: darkgray;
  position: relative;
}

/* ---------- Home Page ---------- */

/* Welcome */


#homePageWelcome {
  padding: auto;
  text-align: center;
  font-size: 2rem;
  height: 100px;
  border: 1px solid;
  margin: 0;
  background-color: aliceblue;
}

#homePageWelcome h1 {
  position: relative;
  vertical-align: middle;
  margin: 26px;
}

#homePageMainBody {
  text-align: center;
}

/* Topics */

#topicsBox {
  font-size: 1.2rem;
  background-color: lightgrey;
  text-align: left;
}

.topic {
  color: rgb(90, 153, 153);
  font-weight: 800;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  #topicsBox {
    height: 225px;
    width: 150px;
    margin: 40px 0 40px 0;
    display: inline-block;
    padding-top: 10px;
  }

  #topicsHeader {
    text-align: center;
    margin: 10px;
  }

  #topicList {
    list-style-type: "\2796 ";
    padding-right: 5px;
  }
}

@media only screen and (max-width: 768px) {
  #topicsBox {
    width: 100vw;
    margin: 0;
  }

  #topicsHeader {
    display: none;
  }

  #topicList {
    margin: 0;
    text-align: center;
  }

  .topic {
    display: inline-block;
    padding: 5px 5vw

  }
}



/* LatestArticles */

#articlesListSection {
  background-color: lightblue;
  display: inline-block;
  text-align: left;
}

#latestArticlesHeader {
  font-size: 2rem;
}

@media only screen and (min-width: 769px) {

  #articlesListSection {
    margin: 40px 0;

    position: relative;
    vertical-align: top;
    width: 70vw;

  }

  #latestArticlesHeader {
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
  }

  #articlesListDisplay {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: bottom;
  }

  #selectArticlesView {
    margin: auto 20px;
  }

}

@media only screen and (max-width: 768px) {
  #articlesListSection {
    border-top: 1px solid;
    position: relative;
    vertical-align: top;
    width: 100vw;

  }

  #latestArticlesHeader {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
  }

  #articlesListDisplay {
    vertical-align: bottom;
  }

  #selectArticlesView {
    margin: auto 20px;
  }
}

/* ArticlePreview */

#articlePreview {
  padding: 20px 0;
}

#selectArticlesView {
  padding-top: 24px;
  font-weight: 400;
  font-size: 1rem;
}

.articlePreviewTitle {
  margin: 5px 0 10px;
  font-weight: 600;
  font-size: 1.2rem
}

.hr {

  width: 30%;
  background-color: grey;
  color: grey;
  height: 1px;
  border-width: 0;
}


.articlePreviewInfo {
  display: inline-block;
  font-size: 0.8rem;
  padding: 3px 5px
}

#endOfArticles {
  padding: 20px;
  text-align: center;
  font-size: 0.8rem;
}



@media only screen and (max-width: 768px) {

  .articlePreview {
    text-align: center;
    width: 80vw;
    margin: auto;
  }

  .hr {
    margin: 40px auto;
  }


}




/* ---------- Article Page ---------- */

#articlePage {
  background-color: azure;
  display: grid;
  border: 1px solid lightgrey
}

@media only screen and (min-width: 769px) {
  #articlePage {
    margin: 5% 15%;
    padding: 3% 3%;
  }
}

@media only screen and (max-width: 768px) {
  #articlePage {
    padding: 8% 8%
  }
}

/* Article Top Half */

.articleTopHalfContainer {
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 20% 80%;
}

/* Article Votes Box */

.thumbs {
  color: grey;
  background-color: white;
  font-size: 32px;
  border: 0;

}

.thumbs:hover {
  background-color: lightgrey;
}



.articleVotesSection {
  display: flex;
  position: absolute;
  top: 12px;
  right: 100%;
  width: 10%;
  height: 100%;
  text-align: center;
  align-items: center;
}


#voteCount {
  margin: 0px 10px;
}

@media only screen and (min-width: 769px) {

  .articleVotesBox {

    background-color: white;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;

  }

}

@media only screen and (max-width: 768px) {

  .articleVotesBox {
    display: inline-block;
    background-color: white;
    position: relative;
    justify-content: center;
    border: 1px solid lightgrey;
    z-index: 1;


  }

  .thumbs {
    display: inline-block;
    position: relative;
    top: 3px;
  }

  #voteCount {
    display: inline-block;
    position: relative;
  }
}

/* Article Info */

.articleTitle {
  margin: 0;
  font-size: 2.5rem;
  width: 100%;
}

.articleInfo {
  display: inline-block;
  position: relative;
  right: 0;
  margin: 0 0 0 20px;
  font-size: 0.9rem;
}

@media only screen and (min-width: 769px) {

  .articleTitleBox {
    width: 80%;
    left: 20%;
    position: relative;
    text-align: right;
    padding: 0
  }

  .articleInfoBox {
    width: 100%;
    text-align: right;
  }


}

@media only screen and (max-width: 768px) {
  .articleTitleBox {
    width: 100%;
    position: relative;
    text-align: center;
  }

  .articleTitle {
    position: relative;
    width: 90%;
    left: 5%;
  }

  .articleInfoBox {
    width: 100%;
    text-align: center;
  }
}

/* Article Body */

@media only screen and (min-width: 769px) {

  .articleBody {
    position: relative;
    width: 80%;
    margin-top: 40px;
  }

  .articleImage {
    border: 1px solid;
    text-align: center;
    width: 70%;
    margin-top: 60px;

  }

}

@media only screen and (max-width: 768px) {

  .articleBody {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }

  .articleImage {
    border: 1px solid;
    text-align: center;
    width: 70%;
    position: relative;
    margin: 40px auto;
  }

}


/* Post Comment */


#commentSection {
  margin: 40px auto;
  text-align: center;
  background-color: white;
  border: 1px solid;
}

#commentNotify {
  text-align: center;
  margin-bottom: 40px;
}

@media only screen and (min-width: 769px) {

  #commentSection {
    width: 400px;
  }

  #new-comment {
    margin: auto 10%;
    width: 80%
  }
}


@media only screen and (max-width: 768px) {

  #commentSection {
    width: 75%;
  }

  #new-comment {
    margin: auto 5%;
    width: 90%
  }

}

/* View Comments */

.bodyCommentSeparation {
  margin-top: 25px;
  height: 2px;
  background-color: lightgray;
  width: 80%;
  position: relative;
  left: 10%;
  
}

.eachComment {
  position: relative;
  width: 80%;
  border-bottom: 1px solid rgba(240, 240, 240, 0.5);
  border-top: 1px solid rgba(240, 240, 240, 1);
  /* border-left: 1px solid rgba(240, 240, 240, 1); */
  background-image: linear-gradient(to bottom right, rgba(240, 250, 250, 1), rgba(240, 250, 250, 0));
  padding: 15px 0;
}

.preComment {
  font-size: 0.8rem;
  display: inline-block;
  margin: 5px 5px 5px 0;
  color: darkslategray;
}

.commentBody {
  margin: 5px 0;
}

@media only screen and (min-width: 769px) {
  .eachComment {
    left: 5%;
  }
}

@media only screen and (max-width: 768px) {
  .eachComment {
    margin: auto;
    text-align: center;

  }

  .commentBody {
    text-align: justify;
    text-justify: inter-character;
  }
}

/* Comments End */

#commentsEnd {
  margin-top: 25px;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  
}

#commentsEnd p {
  margin-bottom: 0;
}

#scrollToTopClick {
  color: rgb(90, 153, 153);
  font-weight: 800;
  cursor: pointer;
}